html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("https://www.logo.wine/a/logo/Allergan/Allergan-White-Dark-Background-Logo.wine.svg");
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/63/The_Aurora_Borealis_or_Northern_Lights_shine_above_Bear_Lake_in_Alaska_050910-F-MS415-009.jpg"); */
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p{
  text-align: justify;
  padding-left: 4em;
  padding-right: 4em;

}

a:link{
  color: white;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.container{
  text-align: center;
  padding-top: 1vw;
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
  color: #ffffff;
 background-color: rgba(2, 2, 2, .30);
 backdrop-filter: blur(10px);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img{
  width: auto;
  margin: auto;
  padding: 5em;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 100px;
  margin: auto;
  align-self: auto;
  overflow: auto;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: rgba(2, 2, 2, .50);}
tr:nth-child(odd) {background-color: rgba(2, 2, 2, .80);}

button{
  padding: 1em;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: darkgray;
  color: white;
}
